<!DOCTYPE html>
<html ng-app="portfolio">

<head>
  <title>Hannah Wood's Portfolio</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' href='./static/favicon.jpg' type='image/x-icon' />
  <link href='https://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css' />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="main.js"></script>
</head>

<body>
  <div ng-controller="PortfolioController as PortCtrl">
    <div class="menu">
      <div class="item-holder">
        <div class="menu-item" ng-repeat="item in PortCtrl.menuItems" id="{{ item.id }}" ng-click="gotoElement(item.id + '-section')">
          <img src="{{ item.img_src }}">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section one" id="home-section">
        <div class='image-div'>
          <div class="text">
            <h1>hi i'm hannah,</h1>
            <h2>and i'm a software developer and designer living in somerville, massachusetts.</h2>
          </div>
        </div>
      </div>
      <div class="section two">
        <div class="code category" id="code-section">
          <div class="h2-holder">
            <h2>code/design.</h2>
          </div>
          <div class="flex">
            <div ng-repeat="image in PortCtrl.codeImages" class="element div-{{ $index+1 }}">
              <a href="{{ image.href }}" target="_blank"><img src="{{ image.img_src }}"></a>
              <h4 ng-bind-html=image.text></h4>
            </div>
          </div>
        </div>
        <div class="art category" id="art-section">
          <div class="h2-holder">
            <h2>art.</h2>
          </div>
          <div class="flex">
            <div ng-repeat="image in PortCtrl.artImages">
              <a href="#img{{ $index+1 }}" class="small"><img id="img-{{ $index+1 }}" src="{{ image.img_src }}"></a>
              <a href="#_" class="lightbox" id="!#img{{ $index+1 }}"><img src="{{ image.img_src }}"></a>
            </div>
          </div>
        </div>
        <div class="video category" id="video-section">
          <div class="h2-holder">
            <h2>video.</h2>
          </div>
          <div class="flex">
            <div ng-repeat="image in PortCtrl.videoImages" class="element div-{{ $index+1 }}">
              <a href="https://www.youtube.com/watch?v=sNjGAiOrX-o" target="_blank" "><img src="{{ image.img_src }}"/></a>
              <h4 ng-bind-html=image.text></h4>
            </div>
          </div>
        </div>
        <div class="contact-info">
          <div class="links">
            <div ng-repeat="link in PortCtrl.contactInfo">
              <a href="{{ link.href }}"  target="_blank ">{{ link.label }}</a>
            </div>
          </div>
          <img src="http://i.imgur.com/SzgsLK5.png ">
        </div>
      </div>
    </div>
  </div>
</body>

</html>
