html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
iframe {
  display: block; }

body {
  line-height: 1; }

body {
  font-family: 'Courier';
  font-size: 12pt;
  background-image: url("http://i.imgur.com/2f5OgVi.png");
  background-position: top right;
  background-size: 100%; }

hr {
  margin: 0 80px; }

h1 {
  font-size: 35pt; }

h2 {
  font-size: 25pt; }

h3 {
  font-size: 14pt;
  font-family: 'Cedarville Cursive', cursive; }
  h3 span {
    font-family: 'Courier';
    font-weight: 600;
    font-size: 12pt; }

a {
  color: black;
  margin: 0 5px; }

.small img {
  width: 100%; }

.lightbox {
  /** Default lightbox to hidden */
  display: none;
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }

.lightbox img {
  /** Pad the lightbox image */
  width: auto;
  height: auto;
  max-height: 90vh;
  max-width: 90vw;
  margin-top: 2%; }

.lightbox:target {
  /** Remove default browser outline */
  outline: none;
  /** Unhide lightbox **/
  display: block; }

.menu {
  top: calc(100vh - 260px);
  position: fixed;
  height: 100%; }
  .menu .item-holder img {
    width: 40px;
    cursor: pointer; }
  .menu .item-holder .menu-item {
    padding: 10px 15px;
    transition: .3s linear; }
    .menu .item-holder .menu-item:hover {
      opacity: 0.7; }

.holder .section .image-div div {
  padding: 10vh 8vw;
  opacity: 1; }
  .holder .section .image-div div h1 {
    font-size: 40pt;
    font-weight: bold;
    margin: 10px 0; }
  .holder .section .image-div div h2 {
    width: 35vw;
    font-family: 'Cedarville Cursive', cursive; }
.holder .one {
  height: 110vh; }
  .holder .one .image-div {
    height: 100%;
    background-image: url("http://i.imgur.com/5kYpujR.png");
    background-size: 100vw;
    background-position: top right;
    background-repeat: no-repeat; }
.holder .two .category {
  margin: 30px auto;
  padding: 20px 0;
  min-height: 100vh;
  width: 90vw; }
  .holder .two .category .vertical-h2 {
    margin: 35vh 30px 40vh 50px;
    transform: rotate(90deg);
    width: 10px;
    float: right;
    font-size: 30pt;
    font-weight: 700; }
  .holder .two .category .h2-holder {
    display: none; }
.holder .two .art .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .holder .two .art .flex div {
    width: auto;
    margin: 10px; }
    .holder .two .art .flex div .small {
      margin: 0 5px; }
      .holder .two .art .flex div .small #img-1 {
        transform: rotate(5deg); }
      .holder .two .art .flex div .small #img-2 {
        transform: rotate(-3deg); }
      .holder .two .art .flex div .small #img-3 {
        transform: rotate(3deg); }
      .holder .two .art .flex div .small #img-4 {
        transform: rotate(4deg); }
      .holder .two .art .flex div .small #img-5 {
        transform: rotate(-5deg); }
      .holder .two .art .flex div .small #img-6 {
        transform: rotate(2deg); }
      .holder .two .art .flex div .small #img-7 {
        transform: rotate(-4deg); }
      .holder .two .art .flex div .small img {
        margin: 8px;
        border-radius: 5px;
        width: auto;
        height: 230px;
        transition: .2s linear;
        box-shadow: -3px 3px 3px gray;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
        .holder .two .art .flex div .small img:hover {
          opacity: 1;
          transform: rotate(0deg) !important;
          box-shadow: -2px 2px 2px gray; }
.holder .two .code .flex,
.holder .two .video .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .holder .two .code .flex .element,
  .holder .two .video .flex .element {
    text-align: center;
    width: 30vw;
    min-width: 300px;
    margin: 20px; }
    .holder .two .code .flex .element img,
    .holder .two .video .flex .element img {
      width: 100%; }
    .holder .two .code .flex .element h3,
    .holder .two .video .flex .element h3 {
      text-align: center;
      margin: 10px 0; }
  .holder .two .code .flex .first,
  .holder .two .video .flex .first {
    transform: rotate(-2deg); }
  .holder .two .code .flex .second,
  .holder .two .video .flex .second {
    transform: rotate(5deg); }
  .holder .two .code .flex .third,
  .holder .two .video .flex .third {
    transform: rotate(-4deg); }

.sharpie {
  text-align: center; }
  .sharpie h3 {
    font-size: 20pt;
    position: relative;
    top: 150px;
    text-align: center;
    margin: 20px 0; }
    .sharpie h3 a {
      padding: 0 10px;
      transition: all .2s linear;
      text-decoration: none; }
      .sharpie h3 a:hover {
        opacity: 0.7; }
  .sharpie img {
    float: right;
    height: 400px; }

/* Medium screens */
@media all and (max-width: 800px) {
  /* We tell both sidebars to share a row */
  .holder {
    margin-left: 0px;
    padding-top: 60px; }
    .holder .one .image-div {
      background-size: 120vh; }
      .holder .one .image-div div {
        opacity: 1; }
        .holder .one .image-div div h1 {
          margin-top: 70vh;
          font-size: 30pt; }
        .holder .one .image-div div h2 {
          width: 100%;
          font-size: 25pt; }
    .holder .two .category .vertical-h2 {
      display: none; }
    .holder .two .category .h2-holder {
      display: block;
      margin: 20px auto;
      text-align: center; }
      .holder .two .category .h2-holder h2 {
        font-weight: 700;
        transform: rotate(0deg);
        margin: auto;
        float: initial; }

  .menu {
    z-index: 2;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 2px 0px 4px gray; }
    .menu .item-holder {
      margin: 0;
      text-align: center; }
      .menu .item-holder img {
        width: 25px; }
      .menu .item-holder .menu-item {
        display: inline-block;
        padding: 15px; }

  .sharpie {
    text-align: center; }
    .sharpie h3 {
      margin: auto;
      line-height: 2;
      width: 93vw;
      top: 0; } }
@media all and (max-width: 500px) {
  .image-div {
    background-position: 80% 0% !important; }

  .holder .section .image-div div h2 {
    font-size: 20pt; }
  .holder .two div .flex div {
    width: 80vw; }
    .holder .two div .flex div .small img {
      width: 75vw !important;
      height: auto !important; } }

/*# sourceMappingURL=main.css.map */
